@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Times+New+Roman&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');



html,
body {
  font-family: "Times New Roman", Times, serif;
  font-family:  "Poppins, sans-serif"
}
.font-times-new-roman {
  font-family: "Times New Roman", Times, serif;
}